# Day 2 - Pandas

In [1]:
import pandas as pd

### 1. Convert its type to int and print this Series to the console.

In [2]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))

# <---- Write your code here ---->

# Method 1
series = pd.to_numeric(series)
print(series)

print('\n')

# Method 2
series = series.astype(int)
print(series)

a    1
b    2
c    3
d    4
dtype: int64


a    1
b    2
c    3
d    4
dtype: int32

---

### 2. Add two elements to this Series:

```
key: 'BBT', value: 25.5

key: 'F51', value: 19.2
```

In response, print quotations Series to the console.

In [3]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

# <---- Write your code here ---->

quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))

print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

C:\Users\AVADHESH\AppData\Local\Temp\ipykernel_12440\1775120051.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))

---

### 3. Convert the following quotations Series:

```
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)
```

to DataFrame. Reset the index and name the columns 'ticker' and 'price' respectively.

In response, print this DataFrame to the console.

In [4]:
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)

# <---- Write your code here ---->

quotations = pd.DataFrame(quotations).reset_index()

quotations.columns = ['ticker', 'price']

print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

---

### 4. Create the following DataFrame object and assign it to the companies variable:

```
     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US
```

In response, print companies DataFrame to the console.

In [5]:
# <---- Write your code here ---->

companies = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price' : [2375.0, 178.6, 179.2],
    'ticker' : ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(companies)

print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

---

### 5. Convert the first column of the companies DataFrame to index. In response, print companies DataFrame to the console.

In [6]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

# <---- Write your code here ---->

companies = companies.set_index('company')

print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

## Congratulate, Day 2 Finished!